.all-visible {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
  background: -moz-linear-gradient(left, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}
body {
  font-family: 'Elsie', cursive;
}
p {
  font-size: 80%;
}
.header-container {
  display: flex;
  width: 100%;
  height: 200px;
}
.name {
  font-family: 'Zeyada', cursive;
  font-size: 200%;
  display: flex;
  width: 70%;
  height: 200px;
  padding-left: 30%;
  align-items: center;

}
.myLogo {
  padding-right: 5%;
  width: 8%;
  height: 70px;
}
.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  height: 200px;
}
.fb {
  height: 40px;
}
.in {
  height: 40px;
}
.github {
  height: 40px;
}
.holds2 {
  display: flex;
}
.left {
  width: 50%;
  height: 400px;
  display: flex;
  justify-content: center;
}
.right {
  width: 50%;
  height: 400px;
  display: flex;
  justify-content: center;
}
.box {
  border: 1px solid black;
  width: 60%;
  height: 350px;
}
.projectPics {
  width: 100%;
  height: 220px;

}
.projectDescription {
  width: 100%;
  height:80px;

  /*background-color: green;*/
}
.linkToProject {
  text-decoration: none;
  padding-left: 45%;
  padding-bottom: 40%;
}



#speaking {
  background: url("./image/opacity.png") no-repeat fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover; 
}
.twoBoxes {
  width: 90%;
  height: 500px;
}
.big {
  /*background-image: url("image/aboutMe.png");*/
  font-size: 185%;
  padding: 3px;
  position: absolute;
  top: 29%;
  left: 9%;
  width: 40%;
  height: 392px;
   border:1px solid #021a40;
}

.little {
  position: absolute;
  top: 55%;
  left: 64%;
  width: 25%;
  height: 200px;
  padding:3px;
   border:1px solid #021a40;
}
.littlePic {
  width: 100%;
  height: 200px;
}
#aboutMe {
  width: 100%;
  height: 392px;
}
.aboutMe {  
  width: 100%
  height: 392px;
}
button {
  font-family: 'Elsie', cursive;
  background-color: #4CAF50; 
  background: #999999;
     border: none;
     padding: 10px 22px;
     font-size: 16px;
   }
  .aboutMeLink {
    text-decoration: none;
  }
  .myProjectsLink {
    text-decoration: none;
  }
  
